.cal-select {
  box-shadow: unset;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #eae9e9;
}

.seg-select {
  box-shadow: unset;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #eae9e9;
}

.card-list {
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #eae9e9;
  box-shadow: unset;
  margin: 7px 10px 1px 10px;
}

.card-badge {
  font-weight: 600;
  border-radius: 20px 20px 20px 20px;
  color: #262626;
  // --padding-end: 100px;
  // --padding-start:30px;
  --padding-bottom: 10px;
  --padding-top: 10px;
}

.ls-avatar {
  --padding-bottom: -40px;
}

.avatar-card {
  --border-radius: 6px;
  width: 50px;
  height: 50px;
}

ion-card-content.ls-card-content {
  margin-bottom: -10px;
  margin-top: -10px;
}

h3.ls-name {
  font-weight: bold;
}

h3.ls-text {
  font-weight: 500;
}

// Global Search Bar
.doc-search {
  box-shadow: none;
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
  height: 55px;

  .filter-col {
    display: flex;
    justify-content: center;
    align-items: center;
    .filter-btn {
      --background: none;
      --box-shadow: none;
      margin-top: -3px;
      height: 100%;
      color: #000;
    }
    .filter-icon {
      margin-left: 0;
      font-size: 25px;
    }
  }

  .search-bar {
    --box-shadow: none;
    font-size: 12px;
    width: 100%;
  }
}

ion-searchbar.md.doc-search {
  --cancel-button-color: #fff;
}

// Global alert

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  // background-color: var(--ion-color-success);
  // color: var(--ion-color-success-contrast);
  background-color: #348cd4;
  color: var(--ion-color-danger-contrast);
}

button.alert-button.alert-button-cancel {
  // background-color: var(--ion-color-success);
  // color: var(--ion-color-success-contrast);
  // background-color: #348cd4;
  color: var(--ion-color-success-contrast);
}

button.alert-button.alert-button-danger-confirm {
  // background-color: var(--ion-color-success);
  // color: var(--ion-color-success-contrast);
  background-color: #eb445a;
  color: var(--ion-color-danger-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

.patname {
  font-weight: 30px;
  font-size: large;
}

.card-list-banner {
  background: linear-gradient(
    to bottom right,
    rgba(238, 238, 238, 0.1),
    rgba(255, 255, 255, 0.6)
  );
  box-shadow: none;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  //  / border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  margin: 30px;
}

.back-btn {
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.close-order-btn {
  --background: #3472C3;
  --border-radius: 50%;
  box-shadow: none;
  height: 35px;
  width: 35px;
  margin: -10px -5px 0px 0px;
}

.back-btn-card {
  box-shadow: none;
  background: none;
  width: 60px;
  padding: 10px;
  margin: 0;
}

.update-btn {
  --background: #3472c3;
  text-transform: none;
  --box-shadow: none;
  --border-radius: 10px;
  height: 50px;
  margin-bottom: -5px;
}

ion-modal#update-available {
  --height: 40%;
  --width: 90%;
  --height: fit-content;
  --backdrop-opacity: 0.3;
  --border-radius: 20px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

//for internet checking
.container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-internet-card {
  box-shadow: none;
}

//for input form
.input-form {
  box-shadow: none;
  margin: 10px 15px 15px 15px;
  height: auto;
  padding: 0;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  ion-input {
    height: 55px;
  }
  ion-select {
    height: 55px;
  }
}

ion-segment {
  --background: #e2eef6;
  border-radius: 25px;
  padding: 2px;
  height: 56px;
  color: #3472c3;
}
ion-segment-button {
  --border-radius: 25px;
}

ion-infinite-scroll ion-spinner {
  color: #f3f5f6; /* Change the color of the spinner */
}

ion-infinite-scroll .custom-infinite-loading {
  background-image: url('../data/pills.gif'); /* Replace with the path to your custom icon */
  background-size: 50px; /* Set the size of your custom icon */
  margin-top: -10px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.confirm-btn {
  --background: #3472c3;
  text-transform: none;
  --box-shadow: none;
  --border-radius: 10px;
  height: 40px;
  margin-left: 10px;
}

.logout-cancel-btn {
  --background: #a2deff;
  text-transform: none;
  --box-shadow: none;
  --border-radius: 10px;
  height: 40px;
  margin-right: 10px;
  color: #3472c3;
}

/*---------------------------------- Media Query* --------------------------------------------------------------------*/
/*for mobile phone*/

@media only screen and (max-width: 320px) {
  /*for patient list*/
  .col-md {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
  }
  .patient-name-lbl {
    font-size: 14px;
  }
  .patient-lbl {
    font-size: 12px !important;
  }

  /*for patient info*/
  .history-card {
    * {
      margin: 0;
      padding: 0;
    }
  }

  .patient-card {
    * {
      margin: 0;
      padding: 0;
    }
  }

  /*for doc item cancel and approve button*/
  .approved-btn {
    font-size: 14px;
  }
  .disapproved-btn {
    font-size: 14px;
  }

  /*for profile page*/
  .main-card-profile {
    width: 100px;
    height: 100px;
  }
  .doctor-lbl {
    margin-top: 60px !important;
  }
  .profile-menu {
    * {
      margin: 0;
      padding: 0;
    }
  }
  .settings-lbl {
    margin-top: -20px;
  }

  /*for dashboard page*/
  .dashboard-lbl {
    font-size: 24px;
    padding-left: 5px;
  }
  .heart-container {
    margin: 0;
    .card-list-banner {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 12px;
      .patname {
        margin-top: -5px;
        font-size: 14px;
      }
    }
  }
  .dashboard-appointment-lbl {
    margin-top: -25px;
    margin-bottom: -10px;
    font-size: 14px;
    .see-all-btn {
      font-size: 14px;
    }
  }
  .dash-date-lbl {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  /* for docorder list*/
  .order-date-lbl {
    font-size: 14px !important;
  }
  .fullname-lbl {
    font-size: 14px !important;
  }
  .nurse-assign-lbl {
    font-size: 12px !important;
  }
  .orders-lbl {
    font-size: 12px !important;
  }

  /*for doc item cancel and approve button*/
  .approved-btn {
    font-size: 14px;
  }
  .disapproved-btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 420px) {
  /*for patient info*/
  .history-card {
    * {
      margin: 0;
      padding: 5px;
    }
    .history-icon {
      padding-top: 3px;
      padding-left: 3px;
    }
  }
}

@media only screen and (max-height: 568px) {
  .logout-btn-card {
    height: 80%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 800px) {
  .logout-btn-card {
    height: 60%;
  }
}

@media only screen and (max-height: 820px) {
  * {
    margin-top: 0;
    margin-bottom: 2px;
  }
}